body {
  background-color: whitesmoke;
  font-family: "Exo", sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: black;
  margin: 0em;
}

/* Setting Up Flexbox in Header */

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 0.0625em solid black;
  color: whitesmoke;
  background: linear-gradient(97deg,
    rgba(0, 0, 0, 1) 43%,
    rgba(0, 1, 4, 1) 44%,
    rgba(0, 64, 227, 1) 100%,
    rgba(255, 255, 255, 1) 100%);
  -webkit-box-shadow: 0em 0em 0.875em 0em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0em 0em 0.875em 0pem rgba(0, 0, 0, 0.75);
  box-shadow: 0em 0em 0.875em 0em rgba(0, 0, 0, 0.75);
}

.header a {
  color: whitesmoke;
}

* {
  box-sizing: border-box;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header h2,
h3,
a {
  color: black;
}

.header a {
  text-decoration: none;
}


.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 0.3125em;

}

.logo a,
.main-nav a {
  padding: 0.625em 0.9375em;
  text-align: center;
  display: block;
}

.main-nav a {
  color: whitesmoke;
  font-size: 1.2em;
}

.main-nav a:hover {
  text-decoration: underline;
}

/* ================================= 
  Media Queries
==================================== */



@media (min-width: 769px) {

  .header,
  .main-nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;

    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }

}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}

/* Grid for Main Content */

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1.75fr;
  grid-gap: 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  grid-auto-rows: minmax(10em, auto);
}

.wrapper>section {
  padding: 1em;
}


/* Grid for Headshot and Social Media */
.headshot {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(16em, auto);
}

.headshot img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5em;
  padding-left: 1em;
}

.fa-linkedin-in {
  color: #0976b4;
}

.fa-twitter {
  color: #55acee;
}

.fa-instagram {
  color: #f46f30;
}