body {
  font-family: "Exo", sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background: #333333;
  color: black;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: blue;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0.5em 1em;
}

h2 {
  font-size: 1.1em;
}

p {
  margin: 0;
  padding: 1em 0;
}


/* Header Showcase */

#showcase {
  min-height: 28.125em;
  color: #ffffff;
}

#showcase .bg-image {
  position: absolute;
  background: #333333 url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 28.125em;
  z-index: -1;
  opacity: 0.7;
}

#showcase h1 {
  padding-top: 6.250em;
  padding-bottom: 0;
}

#showcase .content-wrap #section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */

#section-a {
  background: #eaeaea;
  color: #333333;
  padding-bottom: 2em;
}

#section-a .content-text {
  margin: 1em;
}

/* Section B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b p {
  text-align: left;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333333;
}

.card-content {
  padding: 1.5em;
}

/* Section C */

#section-c {
  background: #fff;
  color: #333;
  /* padding: 2em; */
}

.social ul {
  list-style-type: none;
}

.social li {
  display: inline;
  padding: 1.5em;
  align-content: center;
}

#section-c a:hover {
  color: black;
}

#main-footer {
  padding: 2em;
  background: #000000;
  color: #fff;
  text-align: center;
}

/* Media Queries */

/* Tablets */
@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  #main-footer div {
    grid-column: span 4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 32%;
  }
}

/* Big Screens */
@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  #main-footer div {
    grid-column: span 4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 32%;
  }

}

/* Resume */
.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.wrapper {
  background-color: #333;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "sidebar"
    "content"
}

.wrapper h3 {
  margin: 0;
  padding: 0;

}

.wrapper p,
li {
  margin: 0;
  padding: 0;
  font-size: .8em;
}


@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 30% auto;
    grid-template-areas:
      "sidebar  content"
  }

  .wrapper {
    font-size: 1.2em;
  }

}


@media (min-width: 1024px) {
  .wrapper {
    grid-gap: 1em;
    grid-template-columns: 30% auto;
    grid-template-areas:
      "sidebar content"
  }
}

.box {
  /* background: #ffffff; */
  color: white;
  border-radius: .3em;
  padding: .6em;
  font-size: 150%;
}

/* Portfolio Page */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: .6em 8.75em;
  text-decoration: none;
  font-size: 1.1em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: blue;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.projects {
  padding: 3em 1em 0em 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;


}

@media (min-width: 600px) {
  .projects {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }
}



.projects img {
  width: 100%;
  border: .1em;
}

.projects img:hover {
  opacity: 0.5;
  border-color: whitesmoke;
}

.btn {
  display: block;
  padding: 0.5em 1em;
  margin-bottom: .3em;
}

.btn:hover {
  background: black;
  color: whitesmoke;
}

.btn-dark {
  display: block;
  padding: 0.5em 1em;
  margin-bottom: .3em;
  background: black;
  color: whitesmoke;
}

.btn-light {
  display: block;
  padding: 0.5em 1em;
  margin-bottom: .3em;
  background: whitesmoke;
  color: black;
}

.project-title h1 {
  font-family: "Exo", sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: whitesmoke;
  padding-top: 1.5em;
  font-size: 2em;
}